<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link rel="stylesheet" href="/styles/header.css">
</head>
<body>

    <header class="header-container">
        <h1>Renata Calabrese</h1>    
        <div class="linea"></div>
    
        <nav>
            <a href="/index.html">Inicio</a>
            <a href="/pages/pixelArt.html">Fruta Favorita</a>
            <a href="/pages/table.html">Bebida Favorita</a>
            <a href="/pages/playlist.html">Playlist</a>
            <a href="/pages/cuanArg.html">Juego</a>
        </nav>
    </header>
    
</body>
</html>