<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terminar Juego</title>

    <!-- Tipografía para que mantenga estilo -->
    <link href="https://fonts.googleapis.com/css2?family=Kodchasan:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/DisenosJuego/terminarJuego.css">
</head>
<body>
    <header class="header-container">
        <h1>Renata Calabrese</h1>    
        <div class="linea"></div>
        <nav>
            <a href="/pages/cuanArg.html" class="boton-abandonar">Abandonar Juego</a>
        </nav>
    </header>   
</body>
</html>
