.pixel-art-body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.pixel-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

.pixel-art {
    border-collapse: collapse;
    margin: 2rem auto;
    box-shadow: 0 4px 10px #5c6c5e;
    border-radius: 16px;
    overflow: hidden;
    width: auto; /* clave */
    display: inline-block; /* mantiene proporción */
}

.pixel-art td {
    width: 20px;
    height: 20px;
    border: 1px solid #eee;
}

.vacio {
    background-color: transparent;
    border: none;
}

/* Colores */
.negro { background-color: #000; }
.rojo { background-color: #e53935; }
.verde { background-color: #8bc34a; }
.verdeOsc { background-color: #558b2f; }

@media (max-width: 768px) {
    .pixel-wrapper {
        overflow-x: auto;
        max-width: 100%;
        padding: 0 1rem; /* opcional: margen interno */
    }

    .pixel-art {
        transform: none; 
        width: max-content;
        margin: 0 auto;
        border-collapse: collapse;
    }

    .pixel-art td {
        width: 14px;
        height: 14px;
    }

    main {
        padding: 1rem;
        overflow-x: auto;
    }
}