body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: #5e2750;
}

.container {
    display: flex;
    align-items: flex-start;
    padding-bottom: 2rem;
}

.playlist-image {
    display: block;
    margin: auto;
    max-width: 80%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(200, 150, 200, 0.5);
    object-fit: cover;
}

.sidebar {
    background-color: #fcd6e1;
    width: 300px;
    margin: 1.5rem;
    border-radius: 16px;
    padding: 1.5rem 1rem;
    box-shadow: 0 4px 10px rgb(200, 150, 200);
    font-family: 'Quicksand', sans-serif;
    color: #880e4f;
    align-self: flex-start;
    margin-bottom: 1rem;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #880e4f;
    display: none; /* oculto por defecto */
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 1.3rem;
}


.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 1rem 0;
    cursor: pointer;
    transition: color 0.3s;
}

.sidebar li:hover {
    color: #ad1457;
    font-weight: bold;
}

.contenido {
    flex: 1;
    padding: 2rem;
    text-align: center;
}

.contenido iframe {
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(200, 150, 200);
}

.sidebar li.activo {
    color: #ad1457;
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu-toggle {
        font-size: 1.4rem;
        display: block; /* visible solo en mobile */
        background: none;
        border: none;
        cursor: pointer;
        color: #880e4f;
    }

    .container {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        gap: 1.5rem;
    }

    .sidebar {
        width: 90%;
        margin: auto;
        padding: 1rem;
        box-sizing: border-box;
        text-align: left;
    }

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fcd6e1;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }

    .sidebar-header h2 {
        margin: 0;
        font-size: 1.2rem;
    }

    .contenido {
        width: 100%;
        padding: 1rem;
    }

    body {
        overflow-x: hidden;
    }

    .peliculas-lista {
        display: none;
        flex-direction: column;
        padding-top: 1rem;
    }

    .peliculas-lista.mostrar {
        display: flex;
    }
}

